[submodule "app/src/main/jni/SDL"]
	path = app/src/main/jni/SDL
	url = https://github.com/sfalexrog/SDL
[submodule "app/src/main/jni/SDL2_mixer"]
	path = app/src/main/jni/SDL2_mixer
	url = https://github.com/sfalexrog/SDL2_mixer
[submodule "app/src/main/jni/SDL2_image"]
	path = app/src/main/jni/SDL2_image
	url = https://github.com/sfalexrog/SDL2_image
[submodule "app/src/main/jni/SDL_gfx"]
	path = app/src/main/jni/SDL_gfx
	url = https://github.com/sfalexrog/SDL_gfx
[submodule "app/src/main/jni/yaml-cpp"]
	path = app/src/main/jni/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "app/src/main/jni/OpenXcom"]
	path = app/src/main/jni/OpenXcom
	url = https://github.com/sfalexrog/OpenXcom
